# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
- main

# The agent pool name
pool: ik-devops-agent-pool

variables:
  # TODO: Replace the service connection name as used in the DevOps project settings
  azureServiceConnectionId: 'df56a173-611b-429d-901a-af369d7d59b5'
  
  # Existing Web App name
  webAppName: 'ik-udes-proj6'

  # Environment name
  environmentName: 'flask-ml-service'

  # Project root folder. Point to the folder containing manage.py file.
  projectRoot: $(System.DefaultWorkingDirectory)

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: BuildJob
    pool: myAgentPool
    steps:    
    - script: |
        python3.7 -m pip install --upgrade pip
        python3.7 -m pip install setup
        python3.7 -m pip install -r requirements.txt
      workingDirectory: $(projectRoot)
      displayName: 'Step 1'

    - script: |
        export PATH=$HOME/.local/bin:$PATH
        make install
      workingDirectory: $(projectRoot)
      displayName: 'Step 2'

    - script: |
        export PATH=$HOME/.local/bin:$PATH
        make install
        make lint
      workingDirectory: $(projectRoot)
      displayName:  'Step 3 - Run lint tests'

    - task: ArchiveFiles@2
      displayName: 'Step 4 - Archive files'
      inputs:
        rootFolderOrFile: '$(projectRoot)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
        replaceExistingArchive: true

    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      displayName: 'Step 5 - Upload package'
      artifact: drop

# - task: AzureWebApp@1
#   inputs:
#     appType: 'webAppLinux'
#     appName: 'ik-udes-proj6'
#     package: '$(System.DefaultWorkingDirectory)/**/*.zip'
#     runtimeStack: 'PYTHON:3.7'